version: '3.8'

services:
  app:
    build:
      context: ./laravel-app
      dockerfile: Dockerfile
    container_name: laravel-app
    volumes:
      - ./laravel-app:/var/www/html
    depends_on:
      - pg
      - redis
    ports:
      - "8000:80"
    networks:
      - backend

  pg:
    image: postgres:15
    environment:
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: laravel
      POSTGRES_DB: ads
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

  redis:
    image: redis:6
    networks:
      - backend

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - backend

  go-image:
    build:
      context: ./go-image-service
      dockerfile: Dockerfile
    container_name: go-image-service
    ports:
      - "8080:8080"
    networks:
      - backend

volumes:
  pgdata:
  minio_data:

networks:
  backend:
